   LEISURE RESTO BAR
   
   PUNE 411001 
   Bill No : RN-KOP-X-000005  
   Date : 2019-02-13T19:02:10 
   Table No: POS_T-01    

______________________________________________

  Order List :
   Item                  Qty    Price    Total
  -------------------------------------------
    Buffet                2   319.00   638.00
    
    -------------------------------------------
 
       
   TOTAL NO ITEM        : No.               2 
   TOTAL AMOUNT         : Rs.          638.00      
   DISCOUNT             : Rs.            0.00

    CGST (2.5 %)                    Rs 229.60
    SGST (2.5 %)                    Rs 229.60
    Service Charge (10.0 %)         Rs 229.60
______________________________________________

   GRAND TOTAL          : Rs.       2755.20 /-
______________________________________________


   GSTIN No : 27AALFT5924H1ZT  
   VAT No   : 27331480132C  

______________________________________________

Thanks, We Hope you enjoy Our Services !!





