   TRUMP VENTURES
   
   PUNE 411001 
   Bill No : RN-KOP-X-000005  
   Date : 2019-02-13 
   Table No: T-01    

______________________________________________

  Order List :
   Item                 Qty    Price    Total
  -------------------------------------------
    Buffet              35  1,118.00 39,130.00
    
    -------------------------------------------
 
       
   TOTAL NO ITEM        : No.              35 
   TOTAL AMOUNT         : Rs.       39,130.00      
   DISCOUNT             : Rs.            0.00

    GST (2.5 %)                   Rs  978.25
    SGST (2.5 %)                  Rs  978.25
    Service Charge (10.0 %)       Rs 3,913.00
______________________________________________

   GRAND TOTAL          : Rs.       44999.50 /-
______________________________________________


   GSTIN No : 27AALFT5924H1ZT  
   VAT No   : 27331480132C  

______________________________________________

Thanks, We Hope you enjoy Our Services !!





